@model PgDemo.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            background: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="panel-success">
        <div class="panel-heading text-center">
            <h1>Форма добавления нового пользователя</h1>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Логин:</label>
                    @Html.TextBoxFor(x => x.login, new { @class = "form-control maxlength=30", @Value = Model.login })
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    @Html.TextBoxFor(x => x.password, new { @class = "form-control", @Value = @Model.password })
                </div>

                <div class="form-group">
                    <label>Выберите роль пользователя?</label>
                    @Html.DropDownListFor(x => x.role, new[] {
                            new SelectListItem() { Text = "Администратор", Value = "0"},
                            new SelectListItem() { Text = "Студент", Value = "1"},
                            new SelectListItem() { Text = "Учитель", Value = "2"},
                        }, "Выберите вариант", new { @class = "form-control" })
                </div>
                    <div class="form-group">
                        <label>ID-user:</label>
                        @Html.TextBoxFor(u => u.id_user, new { @class = "form-control", @Value = @Model.id_user, @readonly = "readonly" })
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Сохранение пользователя" class="btn btn-success" />
                        <input type="button" class="btn btn-success" value="Переход к списку пользователей" onclick="window.location.href='@Url.Action("Users", "Home")';" />

                    </div>

            }
        </div>
    </div>
</body>
</html>



