
@model IEnumerable<PgDemo.Models.Teacher>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teacher</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            background: #f1f1f1;
        }
    </style>
</head>


<h2>Список преподавателей</h2>

<p>
    @Html.ActionLink("Добавить преподавателя", "CreateTeacher")
</p>
<table>
    <tr>
        <th>Login преподавателя</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Стаж</th>
        <th>Возраст</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.login)</td>
            <td>
                @Html.DisplayFor(modelItem => item.f_name)
            </td>
            <td>@Html.DisplayFor(modelItem => item.l_name)</td>
            <td>@Html.DisplayFor(modelItem => item.Experience)</td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditingTeacher", new { id = item.id_teacher }, new { onclick = "return confirm('Перейти на страницу редактирования преподавателя?');" }) |
                @Html.ActionLink("Удалить", "DeleteTeacher", new { id = item.id_teacher }, new { onclick = "return confirm('Вы действительно хотите удалить данного преподавателя? Он также автоматически будет удален из списка списка курсов.');" })
            </td>
        </tr>
    }
</table>
<br>
<p>
    @Html.ActionLink("Список пользвателей", "Users")
</p>
<p>
    @Html.ActionLink("Список студентов", "Index")
</p>
<p>
    @Html.ActionLink("Каталог курсов", "Courses")
</p>

<div class="success">
    <p>@ViewData["Success"]</p>
</div>

